*{
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
}
body{
    display: block;
    background-color: burlywood;
}
img{
    width: 100%;
}

.espace{
    flex: 1;
}

.espaceHaut{
    height: 1vh;
}

.ligne{
    display: flex;
    flex: 6;
}

.verso{
    display: none ;
}