body {
    display: flex;
    background-color: grey;
}
nav {
    display: flex;
}

.menu {
    display: none;
}

.sousmenu {
    display: none;
}

.categorie {
    display: flex;
}

.button {
    border: 2px solid burlywood;
    background-color: burlywood;
    padding: 1em;
    border-radius: 10%;
}