*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}



#menu {
    background-color: black;
    height: 5vh;
    margin: auto;
    display:flex;
}

#menu li a:hover {
    color: lightblue;
}

#menu li {
    margin:auto;
    list-style: none;
}

#menu li a {

    color: white;
    font-size: 1.65em;
}

#photo {
    margin-top: 0.5vh;
    width: 100%;
}  
#rightPart  {
    width: 20vw;
    height: 60vh;
    background-color: lightgray;
}

#page {
    display: flex;
}